.footer-containter {
    background-color: $tertiary-color;
    height: 15rem;
    position: relative;

    .footer-links-container {
        margin-top: 1rem;
    
        .footer-link-title {
            font-size: 20px;
        }
    
        .footer-link {
            text-decoration: none;
            color: white;
        }
    
        .footer-link:hover {
            cursor: pointer;
            color: $detail-color;
        }
    }

    .registered-mark {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $secondary-color;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
