.form-container {
    background-color: white;
    border-radius: 17px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 20rem;

    .cityInput {
        width: 100%;
        border: none;
        margin-left: 10px;
        height: 40px;
    }

    .btn-submit {
        margin-left: auto;
        border-radius: 15px !important;
        background-color: $detail-color !important;
        color: white !important;
        border: none;
        height: 37px;
        width: 65px;
    }
}

.form-col {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    right: 6px;
}

input:focus {
    outline: none;
}

.degree-select-container {
    height: 100%;
    display: flex;
    width: 10rem;
}

@media screen and (max-width: 767px){
    .degree-select-container {
        margin: auto;
        margin-top: 1rem;
    }

    .form-col {
        justify-content: center;
        align-items: center;
    }
}